In [1]:
import pandas as pd
import mysql.connector

df = pd.read_csv(r"C:\Users\Bhargavi\OneDrive\Desktop\ClientQuery\queries.csv")

In [10]:
import numpy as np

df = df.where(pd.notnull(df), None)

In [2]:
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="bhargavi1622",
    database="clientquery"
)

mycursor = mydb.cursor()

In [18]:
mycursor.execute("""
CREATE TABLE oldqueries (
    query_id VARCHAR(20) PRIMARY KEY,
    client_email VARCHAR(255),
    client_mobile VARCHAR(20),
    query_heading VARCHAR(255),
    query_description TEXT,
    status VARCHAR(50),
    date_raised DATETIME,
    date_closed DATETIME
)
""")

In [19]:
insert_sql = """
INSERT INTO oldqueries
(query_id, client_email, client_mobile, query_heading,
 query_description, status, date_raised, date_closed)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s)
"""

In [20]:
data = [tuple(row) for row in df.itertuples(index=False)]

In [21]:
mycursor.executemany(insert_sql, data)
mydb.commit()

print(mycursor.rowcount, "records inserted")

5200 records inserted

In [22]:
import mysql.connector
from datetime import datetime

def get_connection():
    return mysql.connector.connect(
        host="localhost",
        user="root",
        password="bhargavi1622",
        database="clientquery"
    )

# Function to insert new client query
def insert_client_query(email, mobile, heading, description):
    conn = get_connection()
    cursor = conn.cursor()

    sql = """
    INSERT INTO client_queries
    (client_email, client_mobile, query_heading, query_description, status, date_raised, date_closed)
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    """

    values = (email, mobile, heading, description, "Open", datetime.now(), None)
    cursor.execute(sql, values)
    conn.commit()
    conn.close()

In [ ]:
import mysql.connector
import pandas as pd

# 1. Connect to your database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="bhargavi1622",
    database="clientquery"
)

# 2. Write your SQL query
query = """
SELECT *
FROM client_queries
WHERE status = 'open'
ORDER BY date_raised DESC
"""

# 3. Use pandas to read SQL query into a DataFrame
df = pd.read_sql(query, conn)

# 4. Close the connection
conn.close()

# 5. Display output
print(df)

   query_id                    client_email client_mobile      query_heading  \
0         6  williamsdavidson1513@gmail.com    8745689262         Bug Report
1         5            stephen234@gmail.com    7895632489         Bug Report
2         4                 pluto@gmail.com    9876587455        Login Issue
3         3             vasudevan@gmail.com    8456789262    Billing Problem
4         2               priya16@gmail.com    7894561230  Technical Support

                  query_description status         date_raised date_closed
0    Dropdown not loading values.\n   Open 2025-12-17 05:46:22        None
1     Search bar resets randomly.\n   Open 2025-12-17 05:10:58        None
2      Cannot log in on mobile app.   Open 2025-12-17 05:09:51        None
3     Promo code was not applied.\n   Open 2025-12-17 05:08:08        None
4  Graphs not rendering properly.\n   Open 2025-12-17 05:06:32        None

C:\Users\Bhargavi\AppData\Local\Temp\ipykernel_45332\2206005364.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)